body {
  position: relative;
  background-image: url('../assets/background.jpg'); /* Add your image in the assets folder */
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  color: #f0f0f0;
  font-family: 'Segoe UI', sans-serif;
}

.button {
  background-image: url('../assets/button.jpg');
  background-size: cover;
  background-position: center;
  width: 355px;
  height: 50px;
  border: none;
  color: #f1eacb;
  font-weight: bold;
  font-size: 38px;
  text-shadow: 0 0 3px #000;
  cursor: pointer;
  font-family: 'Segoe UI', sans-serif;
}

.button:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}

#button-box {
  position: absolute;
  bottom: -104px;
  left: 51%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  z-index: 2;
}

#controls {
  position: absolute;
  top: 29px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#task-container {
  position: absolute;
  top: 300%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* or match your image width */
  height: auto;
}

#task-overlay {
  position: absolute;
  top: 155px;               /* adjust based on layout */
  left: inherit;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
  font-size: 30px;
  color: #fff1b4;
  font-weight: bold;
  text-shadow: 0 0 3px #000;
  pointer-events: none;
}

#task-progress {
  position: absolute;
  top: 128px;           /* Adjust based on bar placement */
  left: inherit;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #f1eacb;
  font-weight: bold;
  text-shadow: 0 0 3px #000;
  pointer-events: none;
}